.footer {
  padding: 1em;
  background: #2e2e2e;

  .get-template {
    font-size: 12px;
    text-align: center;
    color: #fff;

    a {
      text-decoration-color: #fff;
      color: #fff;
    }
  }
}