<div class="footer">

  <div class="content">

    <div class="details">
      <div class="title">
        NJ-Coder
      </div>

      <div class="socials">
        <div class="links">
          <a class="link-wrap" href="https://www.linkedin.com/in/nidhin-joseph-225b49a3/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="link-wrap" href="https://github.com/nj-coder" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a class="link-wrap" href="https://stackoverflow.com/users/3289660/nidhin-joseph" target="_blank">
            <i class="fab fa-stack-overflow"></i>
          </a>
          <a class="link-wrap" href="https://www.facebook.com/nidhin.joseph.1992" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>
      </div>

      <div class="get-template">
        Love this template? Fork it from <a href="https://github.com/nj-coder/nj-coder.com" target="_blank">GitHub</a>
      </div>
    </div>

    <div class="hire-me">
      4
    </div>

  </div>

</div>