.footer {
  padding: 1em;
  background: #021017;

  .get-template {
    font-size: 12px;
    text-align: center;
    color: #fff;
 
    a {
      text-decoration-color: #fff;
      color: #fff;
    }
  }
}