.timeline {
  margin: 4em auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -4em;
    left: 50%;
    width: 1px;
    height: calc(100%);
    background: var(--app-grey);
  }

  .timeline-item-wrapper {
    margin-bottom: 1em;

    .timeline-item {
      box-sizing: border-box;
      padding: 1em;
      padding-bottom: calc(1em - 4px); // to accomodate badge margin bottom
      margin-bottom: 1em;
      border-radius: 2px;
      max-width: calc(50% - 2em);
      border: 1px solid var(--app-grey);
      border-top: 3px solid #FF8A65;
      position: relative;


      &.project {
        border-top-color: #ba68c8;

        i {
          color: #ba68c8;
        }
      }

      &.education {
        border-top-color: #aed581;

        i {
          color: #aed581;
        }
      }

      .item-head {
        border-bottom: 1px solid var(--app-grey);
        padding-bottom: 0.5em;
        font-size: 80%;
        color: #6a737c;

        .item-type {
          font-weight: bold;
          margin-right: 4px;
        }

        .timeperiod {
          margin-left: 4px;
        }
      }

      .item-content {
        padding-top: 0.5em;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-gap: 1em;

        .image {
          img {
            max-width: 100%;
          }
        }

        .details {
          .heading {
            font-weight: bold;

            a {
              text-decoration: none;
              color: var(--primary);
            }
          }

          .tech-stack {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .badge {
              color: var(--primary);
              background-color: #E1ECF4;
              font-size: 12px;
              padding: 2px 6px;
              border-radius: 3px;
              text-align: center;
              margin: 0 4px 4px 0;
            }
          }

          .description {
            font-size: 80%;
            padding: 1em 0;
          }
        }
      }

      .side-el {
        position: absolute;
        right: -100px;
        top: 1em;
        height: 10px;
        width: 100px;
        display: flex;
        align-items: center;

        .arrow {
          width: 10px;
          height: 10px;
          background: var(--app-grey);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
        }

        .circle {
          width: 30px;
          height: 30px;
          background: #fff;
          border: 1px solid var(--app-grey);
          border-radius: 50%;
          margin-left: 0.5em;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FF8A65;
        }

      }

      &:nth-child(even) {
        margin-left: auto;

        .side-el {
          right: auto;
          left: -50px;

          .arrow {
            order: 1;
            right: auto;
            left: -10px;
            clip-path: polygon(0 50%, 100% 0, 100% 100%);
          }

          .circle {
            margin-left: 0;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}