<div class="timeline" id="timeline">
  <div class="timeline-item-wrapper">
    <div *ngFor="let item of timelineItems" class="timeline-item" [ngClass]="{'project': item.type == 'project', 
    'education': item.type == 'education'}">
      <div class="item-head">
        <span [ngSwitch]="item.type">
          <span *ngSwitchCase="'education'">Education</span>
          <span *ngSwitchCase="'project'">Project</span>
          <span *ngSwitchDefault>Position</span>
        </span>
      </div>
      <div class="item-content">
        content
      </div>
      <div class="side-el">
        <div class="arrow"></div>
        <div class="circle">
          <i class="fab fa-facebook-square"></i>
        </div>
      </div>
    </div>
  </div>
</div>