<div class="timeline" id="timeline">
  <div class="timeline-item-wrapper">
    <div *ngFor="let item of timelineItems" class="timeline-item" [ngClass]="{'project': item.type == 'project', 
    'education': item.type == 'education'}">
      <div class="item-head">
        <span [ngSwitch]="item.type" class="item-type">
          <span *ngSwitchCase="'education'">Education</span>
          <span *ngSwitchCase="'project'">Project</span>
          <span *ngSwitchDefault>Position</span>
        </span>
        <span>&#x2666;</span>
        <span class="timeperiod">
          <span *ngIf="item.startDate">{{ item.startDate | date:'MMM y'}}</span>
          <span [ngSwitch]="item.endDate">
            <span *ngSwitchCase="'current'"> &#x2799; Current</span>
            <span *ngSwitchDefault>
              <span *ngIf="item.endDate"> &#x2799; {{ item.endDate | date:'MMM y'}}</span>
            </span>
          </span>
        </span>
      </div>
      <div class="item-content">
        <div class="image">
          <img [src]="item.itemImage" alt="">
        </div>
        <div class="details">
          <div class="heading">
            <div *ngIf="item.company">
              {{ item.company.title }} <a [href]="item.company.link" target="_blank">{{ item.company.name }}</a>
            </div>
            <div *ngIf="item.project">
              <a [href]="item.project.link" target="_blank">{{ item.project.title }}</a>
            </div>
            <div *ngIf="item.education">
                <a [href]="item.education.link" target="_blank">{{ item.education.title }}</a>
              </div>
          </div>

          <div class="description" *ngIf="item.description">
            {{ item.description }}
          </div>

          <div class="tech-stack" *ngIf="item.techs && item.techs.length > 0">
            <span class="badge" *ngFor="let tech of item.techs">
              {{ tech }}
            </span>
          </div>

        </div>
      </div>
      <div class="side-el">
        <div class="arrow"></div>
        <div class="circle">
          <i class="fab fa-facebook-square"></i>
        </div>
      </div>
    </div>
  </div>
</div>