$shadow-primary: #1e3c72;
$shadow-secondary: #2a5298;

.home {

  .header {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);

    .left {
      padding: 1em 1em 1em 2em;
      text-align: left;
      background: $shadow-primary;
      flex-grow: 1;
      color: #fff;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    .right {
      width: calc(70vw - 10vw);
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10vw;

      a {
        text-transform: uppercase;
        color: #000;
        font-size: 12px;
        margin-right: 2em;
        text-decoration: none;

        &:last-child {
          margin: 0;
        }

        &:hover:not(.hire-me) {
          color: $shadow-secondary;
          border-bottom: 1px solid $shadow-secondary;
        }
      }

      .hire-me {
        color: #ffffff;
        background: linear-gradient(to right, $shadow-primary, $shadow-primary);
        padding: 2px 12px;
        border-radius: 12px;
      }
    }
  }

  .top-section {
    height: 100vh;
    width: 100%;
    color: #fff;
    background: $shadow-secondary;
    background: linear-gradient(to right, $shadow-primary, $shadow-primary);
    display: flex;


    .left {
      width: 30vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .outer-circle {
        position: relative;
        left: 15vh;
        height: 50vh;
        width: 50vh;
        min-width: 50vh;
        border-radius: 50%;
        background: linear-gradient(to left, $shadow-primary, $shadow-primary);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border: 10px solid #ffffff;
        overflow: visible;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-circle {
          height: 50%;
          width: 50%;
          border: 15px solid $shadow-primary;
          border-radius: 50%;
          background: url('../../../assets/images/dp.jpeg');
          background-size: cover;
          background-position: center;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }
    }

    .right {
      height: 98vh;
      flex-grow: 1;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;

      .content {
        padding: 1em;

        .name {
          font-size: 3em;
          font-weight: bold;
          padding: 0.2em 0
        }

        .socials {
          text-align: center;
          position: relative;

          .links {
            background: #fff;
            padding: 0 4px;
            position: relative;
            display: inline-flex;

            a {
              padding: .5em 1em;
              display: block;
              color: $shadow-primary;
              border-radius: 7px;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
              margin-right: 1em;

              &:last-child {
                margin: 0;
              }
            }
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50%);
            width: 100%;
            height: 1px;
            background: #ccc;
          }
        }
      }
    }
  }

}