$shadow-primary: #6E48AA;
$shadow-secondary: #9D50BB;

.home {

  .top-section {
    height: 100vh;
    width: 100%;
    color: #fff;
    background: $shadow-secondary;
    background: linear-gradient(to right, $shadow-primary, $shadow-primary);
    display: grid;
    grid-template-columns: 30% 70%;

    .left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .outer-circle {
        position: relative;
        left: 15vh;
        height: 50vh;
        width: 50vh;
        min-width: 50vh;
        border-radius: 50%;
        background: linear-gradient(to left, $shadow-primary, $shadow-primary);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border: 10px solid #ffffff;
        overflow: visible;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-circle {
          height: 50%;
          width: 50%;
          border: 15px solid $shadow-primary;
          border-radius: 50%;
          background: url('../../../assets/images/dp.jpeg');
          background-size: cover;
          background-position: center;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }
    }

    .right {
      height: 98vh;
      background: #fff;
    }
  }

}