<div class="home">
  <div class="header">
    <div class="left">
      NJ-Coder
    </div>
    <div class="right">
      <div class="link-wrappeer">
        <a href="#">TECHS</a>
        <a href="#">PORTFOLIO</a>
        <a href="#" class="hire-me">Hire Me</a>
      </div>
    </div>
  </div>
  <div class="top-section">
    <div class="left">
      <div class="outer-circle">
        <div class="inner-circle"></div>
      </div>
    </div>
    <div class="right">2</div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>