/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.form-field-wrapper {
  margin-bottom: 1em;

  label {
    display: block;
    margin-bottom: 12px;
  }

  .form-field {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

@media only screen and (max-width: 900px) {
  .hide-sm {
    display: none !important;
  }
}

:root {
  --primary: #1e3c72;
  --secondary: #2a5298;
  --app-grey: #e0e0e0;
  --sm-breakpoint: 900px;
}
