/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  .hide-sm {
    display: none !important;
  }
}

:root {
  --primary: #1e3c72;
  --secondary: #2a5298;
  --app-grey: #e0e0e0;
  --sm-breakpoint: 900px;
}
